@page
@model RazorPagesDoughnuts.Pages.doughnuts.CreateModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Doughnut</h2>
            <hr></hr>
        </div>
        <div class="mb-3">
            <label asp-for="Doughnut!.Name"></label>
            <input asp-for="@Model.Doughnut!.Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Doughnut!.Price"></label>
            <input asp-for="@Model.Doughnut!.Price" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
    </div>
</form>