@page
@model RazorPagesDoughnuts.Pages.doughnuts.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Doughnut List</h2>
        </div>
        <div class="col-6">
            <a asp-page="create" class="btn btn-primary">
                Create new Doughnut
            </a>
        </div>
    </div>

    <br></br>
    <br></br>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Doughnut Name
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model.Doughnuts!) {
                <tr>
                    <td>V@obj.Name</td>
                    <td>@obj.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
