@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class=header-text>
    <h1>The Doughnut Shop</h1>
    <h5>For all your doughnut needs!</h5>
</div>

<div class=become-member>
    <div class=member-image>
        <p>Become a Member Today!</p>
    </div>

    <div class=member-benefits>
        <p> Did you know about these member benefits?</p>
        <ul class=doughnut-list>
            <li> Early Access to Fresh Discounts!</li>
            <li> Build Up Rewards to get Free Orders!</li>
            <li> Join Feedback Sessions to tell us exactly what you want!</li>
        </ul>
    </div>
</div>
